<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.martin.bepeakedprojekt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bepeakedlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="BodyBook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_akt" />
        <activity android:name=".MainMenu_akt" />
        <activity android:name=".Workout.WorkoutMenu_akt" />
        <activity
            android:name=".Exercises.ExerciseMenu_akt"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Diet_Plan.DietPlanMenu_akt" />
        <activity android:name=".Exercises.Exercise.Exercise_akt" />
        <activity android:name=".Diet_Plan.Recipe.Recipe_akt" />
        <activity android:name=".Workout.WorkoutExercises.Workout_Exercises_akt" />
        <activity android:name=".Settings.Settings_akt" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="214e1f041248b7c17ff553134eeeaf8697e8e220" />

        <activity android:name=".Settings.Language_akt" />
        <activity android:name=".Settings.UnitSystem_akt"></activity>
    </application>

</manifest>