<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.martin.bepeakedprojekt">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bepeaked_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="BePeaked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login_akt" />
        <activity android:name=".MainMenu_akt" />
        <activity android:name=".WorkoutMenu_akt" />
        <activity android:name=".ExerciseMenu_akt" />
        <activity android:name=".DietPlanMenu_akt"></activity>
    </application>

</manifest>